<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit Chat</title>
</head>
<body>
    <%= USER.name %>
    <%= USER.email %>
    <%= USER.mobile %>
    <%= USER.password %>
    <%= USER.profile_path %>
</body>
</html>